/* white #F7F9FB */
/* white rgba(247, 249, 251, 0.9) */
/* grey #8C8676 */
/* greyText #515B68 */
/* greyText rgba(81, 91, 104, 0.9) */
/*grey footer #ADC0D0*/

body{
    font-family: 'PT Sans', sans-serif !important;
}

a{
    color: white;
}

a:hover{
    color: rgba(255, 255, 255, 0.5);
}

.davo-header{
    background: linear-gradient(to bottom, #6FB1E5, rgba(111, 177, 229, 0.35));
    padding-left: 20vw;
    padding-right: 20vw;
    padding-bottom: 100px;
    padding-top: 100px;
}

.davo-nav{
    display: flex;
    flex-direction: row !important;
    background-color: transparent;
    padding-bottom: 100px;
    justify-content: space-between;
}

.davo-nav-logo{
    color: #F7F9FB;
    font-weight: 700;
    font-size: 2em;
    margin-top: -15px;
    letter-spacing: -1px;
}

.davo-nav-logo-mobile{
    color: #F7F9FB;
    font-weight: 700;
    font-size: 1.8em;
    margin-top: -15px;
    letter-spacing: -1px;
    margin-bottom: 40px;
}

.davo-logo{
    height: 28px;
    margin-top: -5px;
}

.davo-nav-items{
    display: flex;
    flex-direction: row !important;
}

.davo-nav-item{
    font-weight: 700;
    font-size: 1.1em;
    letter-spacing: 2px;
    margin-right: 70px;
    color:  rgba(247, 249, 251, 0.9);
}

.davo-icon{
    color: rgba(247, 249, 251, 0.9);
    margin-right: 30px;
    font-size: 1.5em;
}

.davo-hero-title{
    color: #F7F9FB;
    font-size: 2.8em;
    font-weight: 700;
    letter-spacing: 2px;
    margin-bottom: 20px;
}

.davo-hero-subtitle{
    color: rgba(247, 249, 251, 0.9);
    font-size: 1.4em;
    letter-spacing: 2px;
    line-height: 36px;
}

.davo-hero-buttons{
    margin-top: 40px;
}

.ios{
    width: 175px;
    margin-right: 40px;
}

.android{
    width: 196px;
}


.davo-header-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.iphone-container{
    position: relative;
}

.iphone{
    height: 65vh;
}

.app-bg{
    height: 49vh;
    position: absolute;
    top: 98px;
    left: 39px;
}

/* 2nd SECTION */

.works{
    background-color: #F7F9FB;
    padding-top: 100px;
    padding-bottom: 100px;
    padding-left: 20vw;
    padding-right: 20vw;
}

.davo-works-title{
    text-align: center;
    font-size: 2em;
    font-weight: 700;
    letter-spacing: 2px;
    color: #515B68;
    margin-bottom: 40px;
}

.davo-works-subtitle{
    text-align: center;
    font-size: 1.4em;
    letter-spacing: 2px;
    color: rgba(81, 91, 104, 0.60);
    margin-bottom: 80px;
    line-height: 36px;
    padding-left: 20vh;
    padding-right: 20vh;
}

.picto-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.icon-image{
    margin-bottom: 40px;
    width: 12vh;
    text-align: center;
}

.davo-works-icon-subtitle{
    font-size: 1.4em;
    letter-spacing: 1px;
    color: rgba(81, 91, 104, 0.60);
    line-height: 36px;
    padding-left: 5vh;
    padding-right: 5vh;
    text-align: center;
}

.davo-contact{
    background: linear-gradient(rgba(232, 240, 243, 0.7), #E8F0F3);
    padding-top: 100px;
    padding-bottom: 100px;
    padding-left: 20vw;
    padding-right: 20vw;
}

.davo-contact-title{
    text-align: center;
    font-size: 2em;
    font-weight: 700;
    letter-spacing: 1px;
    color: #515B68;
    margin-bottom: 40px;
}

.davo-contact-subtitle{
    text-align: center;
    font-size: 1.4em;
    letter-spacing: 1px;
    margin-bottom: 40px;
    color: rgba(81, 91, 104, 0.60);
    line-height: 36px;
    padding-left: 20vh;
    padding-right: 20vh;
}

.davo-contact-number-email{
    margin-bottom: 40px;
    text-align: center;
    font-size: 1.4em;
    letter-spacing: 1px;
    color: rgba(81, 91, 104, 0.60);
    line-height: 36px;
    padding-left: 20vh;
    padding-right: 20vh;
}

.input-container{
    padding-left: 12vw;
    padding-right: 12vw;
}

input[type="text"]{
    background-color: white;
}

.input{
    height: 50px;
    margin-right: 20px;
    background-color: #F7F9FB;
}

.input:focus{
    outline: none !important;
}

.input:hover{
    outline: none !important;
}

.input-submit{
    display: flex;
    height: 50px;
    background-color: rgba(111, 177, 229, 0.85);
    border-radius: 5px;
    color: #F7F9FB;
    align-items: center;
    justify-content: center;
    padding-right: 40px;
    padding-left: 40px;
    font-size: 1.1em;
}

.input-submit > p{
    margin-left: 10px;
    font-weight: 600;
    letter-spacing: 1px;
}

.input-submit > i{
    font-size: 1em;
    margin-top: -2px;
}

.davo-footer{
    padding-top: 140px;
    padding-bottom: 140px;
    background-color: #ADC0D0;
    padding-left: 20vw;
    padding-right: 20vw;
}

.davo-footer-nav{
    display: flex;
    flex-direction: row !important;
    background-color: transparent;
    justify-content: space-between;
}

.davo-footer-items{

}

.davo-footer-item{
    font-weight: 700;
    font-size: 1.1em;
    letter-spacing: 1px;
    color: rgba(247, 249, 251, 0.9);
}
.davo-footer-item-copyright{
    font-weight: 700;
    font-size: 1em;
    letter-spacing: 1px;
    color: rgba(247, 249, 251, 0.7);
    text-align: left;
}

.icon-heart{
    margin-top: 2px;
    color: #FFD1DC;
}

.wave{
    position: absolute;
    bottom: 0px;
    left: 0;
}
